In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

In [7]:
with open('1_raw_data_13-12_22.03.16.txt') as f:
    lines = f.readlines()

In [8]:
lstoflst=[]
for i in lines:
  lstoflst.append(i.split("\t"))

In [9]:
data=pd.read_csv("1_raw_data_13-12_22.03.16.txt",sep="\s+")

In [10]:
data

        time  channel1  channel2  channel3  ...  channel6  channel7  channel8  class
0          1   0.00001  -0.00002  -0.00001  ...  -0.00001   0.00000  -0.00001      0
1          5   0.00001  -0.00002  -0.00001  ...  -0.00001   0.00000  -0.00001      0
2          6  -0.00001   0.00001   0.00002  ...  -0.00002  -0.00001   0.00001      0
3          7  -0.00001   0.00001   0.00002  ...  -0.00002  -0.00001   0.00001      0
4          8  -0.00001   0.00001   0.00002  ...  -0.00002  -0.00001   0.00001      0
...      ...       ...       ...       ...  ...       ...       ...       ...    ...
51266  53177  -0.00002  -0.00001  -0.00003  ...  -0.00002  -0.00001  -0.00001      0
51267  53178  -0.00002  -0.00001  -0.00003  ...  -0.00002  -0.00001  -0.00001      0
51268  53179  -0.00002  -0.00001  -0.00003  ...  -0.00002  -0.00001  -0.00001      0
51269  53180  -0.00002  -0.00001  -0.00003  ...  -0.00002  -0.00001  -0.00001      0
51270  53181  -0.00002  -0.00001  -0.00003  ...  -0.00002  -0.00001  -0.00001      0

[51271 rows x 10 columns]

In [11]:
data.isna().sum()

time        0
channel1    0
channel2    0
channel3    0
channel4    0
channel5    0
channel6    0
channel7    0
channel8    0
class       0
dtype: int64

In [14]:
data.describe()

               time      channel1  ...      channel8         class
count  51271.000000  51271.000000  ...  51271.000000  51271.000000
mean   26587.862554     -0.000008  ...     -0.000008      1.113300
std    15372.139680      0.000139  ...      0.000137      1.770259
min        1.000000     -0.001110  ...     -0.000920      0.000000
25%    13264.500000     -0.000030  ...     -0.000030      0.000000
50%    26525.000000     -0.000010  ...     -0.000010      0.000000
75%    39925.500000      0.000010  ...      0.000010      2.000000
max    53181.000000      0.001270  ...      0.001270      6.000000

[8 rows x 10 columns]